@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: space-between; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #52525b;
}

.header,
.left-links,
.right-links,
.content,
.footer,
.page,
.buttons {
  display: flex;
}

.page {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.header,
.footer {
  justify-content: space-between;
  padding: 1em;
}

.left-links,
.right-links {
  gap: 1em;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.buttons {
  justify-content: center;
  gap: 0.5em;
}

.footer {
  margin-top: 0;
  background-color: #d4d4d8;
}
